<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.twitter.android" />
        <package android:name="com.tumblr" />
    </queries>
    <queries>
        <package android:name="com.teslacoilsw.launcher" />
    </queries>



    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".PocketCastsApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="false"
        android:theme="@style/ThemeDark"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:supportsRtl">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="com.google.android.wearable.media.theme"
            android:resource="@style/WearMediaTheme" />


        <activity
            android:name=".ui.MainActivity"
            android:colorMode="default"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file" />


            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="text/xml"
                    android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x-opml" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="pktc" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pca.st"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pcast.pocketcasts.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pocket-casts-main-development.mystagingwebsite.com"
                    android:pathPrefix="/redeem"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pocketcasts.com"
                    android:pathPrefix="/redeem"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="application/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/xml"
                    android:pathPattern=".*\\.opml"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="application/xml"
                    android:pathPattern=".*\\.opml"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="itpc" />
                <data android:scheme="pcast" />
                <data android:scheme="feed" />
                <data android:scheme="rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="itunes.apple.com"
                    android:pathPattern="/.*/podcast/.*"
                    android:scheme="https" />
                <data
                    android:host="itunes.apple.com"
                    android:pathPattern="/.*/podcast/.*"
                    android:scheme="http" />
                <data
                    android:host="podcasts.apple.com"
                    android:pathPattern="/.*/podcast/.*"
                    android:scheme="https" />
                <data
                    android:host="podcasts.apple.com"
                    android:pathPattern="/.*/podcast/.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
                <data android:host="*" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="Pocket Casts">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:pathPattern=".*\\..*/.*" />
                <data android:host="subscribeonandroid.com" />
                <data android:host="www.subscribeonandroid.com" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>


            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lists.pocketcasts.com"
                    android:scheme="http" />
                <data
                    android:host="lists.pocketcasts.com"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="pocketcasts.com" />
                <data android:path="/get" />
                <data android:pathPrefix="/get/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="pocket-casts-main-development.mystagingwebsite.com" />
                <data android:path="/get" />
                <data android:pathPrefix="/get/" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>


        <activity-alias
            android:name=".ui.MainActivity_0"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_1"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_2"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_3"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_4"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_4"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_5"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_5"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_6"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_6"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_7"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_7"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_8"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_radioactive"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_9"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_indigo"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_10"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cat"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_11"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_redvelvet"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_12"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rose"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_13"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_halloween"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_14"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_patron_chrome"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_15"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_patron_round"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_16"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_patron_glow"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_17"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_patron_dark"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity_18"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pride_2023"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".profile.sonos.SonosAppLinkActivity"
            android:label="@string/profile_sonos" />


        <service
            android:name="au.com.shiftyjelly.pocketcasts.repositories.download.UpdateEpisodeDetailsJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="au.com.shiftyjelly.pocketcasts.repositories.refresh.RefreshPodcastsJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="au.com.shiftyjelly.pocketcasts.repositories.playback.SleepTimerReceiver" />

        <receiver
            android:name="au.com.shiftyjelly.pocketcasts.repositories.playback.PlayerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="au.com.shiftyjelly.pocketcasts.action.PLAY" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.PAUSE" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.STOP" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.NEXT" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.SKIP_FORWARD" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.SKIP_BACKWARD" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.REFRESH_PODCASTS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="au.com.shiftyjelly.pocketcasts.repositories.sync.NotificationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="au.com.shiftyjelly.pocketcasts.action.NOTIFICATION_DELETED" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.NOTIFICATION_PLAY_EPISODE" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.NOTIFICATION_DOWNLOAD_EPISODE" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.NOTIFICATION_ADD_TO_UP_NEXT" />
                <action android:name="au.com.shiftyjelly.pocketcasts.action.NOTIFICATION_STREAM_EPISODE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.mediarouter.media.MediaTransferReceiver"
            android:exported="true"></receiver>

        <service
            android:name="au.com.shiftyjelly.pocketcasts.repositories.playback.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <service
            android:name=".PocketCastsWearListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/pocket_casts_wear_communication"
                    android:scheme="wear" />
            </intent-filter>
        </service>


        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="au.com.shiftyjelly.pocketcasts.CastOptionsProvider" />


        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/CarTheme" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>


        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />


        <meta-data
            android:name="com.sec.android.automotive.drivelink.notification.SmallIcon"
            android:resource="@drawable/notification" />


        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="com.google.android.engage.service.ENV"
            android:value="PRODUCTION" />


        <receiver
            android:name=".EngageSdkBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">

            <intent-filter>
                <action android:name="com.google.android.engage.action.PUBLISH_RECOMMENDATION" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.engage.action.PUBLISH_CONTINUATION" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.engage.action.PUBLISH_FEATURED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.share.ShareListCreateActivity" />

        <activity
            android:name=".cloud.AddFileActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.shiftyjelly.pocketcasts.account.AccountActivity"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".accountmanager.PocketCastsAuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".playplaylist.config.ActivityConfigPlayPlaylist"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_play_filter">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controlplayback.config.ActivityConfigControlPlayback"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_control_playback">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".querypodcasts.config.ActivityConfigQueryPodcasts"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_query_podcasts">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".querypodcastepisodes.config.ActivityConfigQueryPodcastEpisodes"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_query_podcast_episodes">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addtoupnext.config.ActivityConfigAddToUpNext"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_add_to_up_next">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".queryfilters.config.ActivityConfigQueryFilters"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_query_filters">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".queryfilterepisodes.config.ActivityConfigQueryFilterEpisodes"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_query_filter_episodes">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".queryUpNext.config.ActivityConfigQueryUpNext"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/pocket_casts_query_up_next_episodes">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>


        <activity
            android:name=".StoriesActivity"
            android:exported="true"
            android:theme="@style/Theme.EndOfYear" />
        <activity
            android:name="au.com.shiftyjelly.pocketcasts.account.onboarding.OnboardingActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name="au.com.shiftyjelly.pocketcasts.widget.SmallPlayerWidgetReceiver"
            android:exported="false"
            android:label="@string/small_player_widget_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_player_widget" />
        </receiver>

        <receiver
            android:name="au.com.shiftyjelly.pocketcasts.widget.MediumPlayerWidgetReceiver"
            android:exported="false"
            android:label="@string/medium_player_widget_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/medium_player_widget" />
        </receiver>

        <receiver
            android:name="au.com.shiftyjelly.pocketcasts.widget.LargePlayerWidgetReceiver"
            android:exported="false"
            android:label="@string/large_player_widget_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/large_player_widget" />
        </receiver>

        <activity
            android:name=".view.video.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".view.bookmark.BookmarkActivity"
            android:configChanges="orientation|layoutDirection|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".ItemSharedReceiver"
            android:exported="false" />


        <provider
            android:name="au.com.shiftyjelly.pocketcasts.repositories.playback.auto.AlbumArtContentProvider"
            android:authorities="${applicationId}.media.library.provider"
            android:exported="true" />


        <receiver
            android:name="au.com.shiftyjelly.pocketcasts.core.ui.widget.PodcastWidget"
            android:exported="true"
            android:label="@string/medium_player_classic_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="au.com.shiftyjelly.pocketcasts.core.ui.widget.PREVIOUS" />
                <action android:name="au.com.shiftyjelly.pocketcasts.core.ui.widget.NEXT" />
                <action android:name="au.com.shiftyjelly.pocketcasts.core.ui.widget.PLAY" />
                <action android:name="au.com.shiftyjelly.pocketcasts.core.ui.widget.PAUSE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>


        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|layoutDirection|screenSize" />

    </application>
</manifest>
